

@model eSPP.Models.HR_ELAUN

<div>
    <div class="modal-header">
        <button type="button" class="close" id="Tambah-btn" data-dismiss="modal" aria-hidden="true">
            &times;
        </button>
        <h4 class="modal-title">
            Tambah Elaun <span class="error"></span>
        </h4>
    </div>
    <div class="modal-body no-padding">

        @using (Html.BeginForm("TambahElaun", "Elaun", FormMethod.Post, new { id = "elaun-form", @class = "smart-form", novalidate = "novalidate" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <fieldset>
                <section>
                    <div class="row">
                        <label class="label col col-4">Kategori  </label>
                        <div class="col col-8">
                            <label class="select">
                                @Html.DropDownListFor(model => model.HR_KOD_KATEGORI, null, String.Empty, new { @class = "form-control" })
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Elaun  </label>
                        <div class="col col-8">
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                @Html.EditorFor(model => model.HR_PENERANGAN_ELAUN, new { htmlAttributes = new { @class = "form-control" } })
                                

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Vot Elaun  </label>
                        <div class="col col-8">
                            <label class="input">
                                <i class="icon-append fa fa-briefcase"></i>
                                @Html.EditorFor(model => model.HR_VOT_ELAUN, new { htmlAttributes = new { @class = "form-control", maxlength = "5" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Singkatan  </label>
                        <div class="col col-8">
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                @Html.EditorFor(model => model.HR_SINGKATAN, new { htmlAttributes = new { @class = "form-control" } })
                                
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Petunjuk Jawatan  </label>
                        <div class="col col-8">
                            <label class="select">
                                @Html.DropDownListFor(model => model.HR_JAWATAN_IND, null, String.Empty, new { @class = "form-control" })
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Jumlah  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_NILAI, new { htmlAttributes = new { @class = "form-control" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Pindaan</label>
                        <div class="col col-8">
                            <div class="inline-group">
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.HR_PINDAAN_IND, "Y", htmlAttributes: new { @class = "form-control"})
                                    <i></i>Ya
                                </label>
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.HR_PINDAAN_IND, "T", htmlAttributes: new { @checked = "checked" })
                                    <i></i>Tidak
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="label col col-4">Status KWSP</label>
                        <div class="col col-8">
                            <div class="inline-group">
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.HR_STATUS_KWSP, "Y", htmlAttributes: new { @class = "form-control"})
                                    <i></i>Ya
                                </label>
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.HR_STATUS_KWSP, "T", htmlAttributes: new { @checked = "checked" })
                                    <i></i>Tidak
                                </label>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Status SOCSO</label>
                        <div class="col col-8">
                            <div class="inline-group">
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.HR_STATUS_SOCSO, "Y", htmlAttributes: new { @class = "form-control"})
                                    <i></i>Ya
                                </label>
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.HR_STATUS_SOCSO, "T", htmlAttributes: new { @checked = "checked" })
                                    <i></i>Tidak
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="label col col-4">Status Cukai</label>
                        <div class="col col-8">
                            <div class="inline-group">
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.HR_STATUS_CUKAI, "Y", htmlAttributes: new { @class = "form-control" })
                                    <i></i>Ya
                                </label>
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.HR_STATUS_CUKAI, "T", htmlAttributes: new { @checked = "checked" })
                                    <i></i>Tidak
                                </label>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Tunggakan</label>
                        <div class="col col-8">
                            <div class="inline-group">
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.HR_TUNGGAKAN_IND, "Y", htmlAttributes: new { @class = "form-control" })
                                    <i></i>Ya
                                </label>
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.HR_TUNGGAKAN_IND, "T", htmlAttributes: new { @checked = "checked" })
                                    <i></i>Tidak
                                </label>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Status</label>
                        <div class="col col-8">
                            <div class="inline-group">
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.HR_AKTIF_IND, "Y", htmlAttributes: new { @checked = "checked" })
                                    <i></i>Aktif
                                </label>
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.HR_AKTIF_IND, "T", htmlAttributes: new { @class = "form-control" })
                                    <i></i>Tidak
                                </label>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Kreditor  </label>
                        <div class="col col-8">
                            <label class="select">
                                @Html.DropDownListFor(model => model.HR_KOD_KREDITOR, null, String.Empty, new { @class = "form-control" })
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Keterangan Slip  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_KETERANGAN_SLIP, new { htmlAttributes = new { @class = "form-control" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Potongan  </label>
                        <div class="col col-8">
                            <label class="select">
                                @Html.DropDownListFor(model => model.HR_KOD_POTONGAN, null, String.Empty, new { @class = "form-control" })
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Kata Awalan  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_PREFIX, new { htmlAttributes = new { @class = "form-control", maxlength = "2" } })

                            </label>
                        </div>
                    </div>
                </section>

            </fieldset>
            <footer>
                <button type="submit" id="btn" class="btn btn-primary">
                    <span class="fa fa-send-o"></span> Hantar
                </button>
                <a type="button" class="btn btn-default" href="elaun">
                    Kembali
                </a>
            </footer>
        }

    </div>

</div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Tambah-btn").click(function () {
                debugger
                $('#TambahModal').modal('hide');
            });

            var $elaunForm = $("#elaun-form").validate({
                // Rules for form validation
                rules: {
                    HR_KOD_KATEGORI: {
                        required: true,
                        remote: {
                            url: "Elaun/CariElaun",
                            type: "get",
                            data: {
                                kategori: function () {
                                    return $("#HR_KOD_KATEGORI").val();
                                },
                                kod: function () {
                                    return $("#HR_KOD_ELAUN").val();
                                }
                               
                            }

                        }
                    },
                    HR_PENERANGAN_ELAUN: {
                        required: true,
                        remote: {
                            url: "Elaun/CariElaun",
                            type: "get",
                            data: {
                                penerangan: function () {
                                    return $("#HR_PENERANGAN_ELAUN").val();
                                },
                                kod: function () {
                                    return $("#HR_KOD_ELAUN").val();
                                }
                                

                               
                            }
                        }
                    },
                    HR_VOT_ELAUN: {
                        required: true,
                        remote: {
                            url: "Elaun/CariElaun",
                            type: "get",
                            data: {
                                vot: function () {
                                    return $("#HR_VOT_ELAUN").val();
                                }
                            }
                        }
                    },
                    HR_SINGKATAN: {
                        required: true,
                        remote: {
                            url: "Elaun/CariElaun",
                            type: "get",
                            data: {
                                singkatan: function () {
                                    return $("#HR_SINGKATAN").val();
                                }
                            }
                        }
                    },
                    HR_KOD_KREDITOR: {
                        required: true
                    },
                },

                // Messages for form validation
                messages: {
                    HR_KOD_KATEGORI: {
                        required: 'Pilihan Kategori  diperlukan'
                    },
                    HR_PENERANGAN_ELAUN: {
                        required: 'Penerangan Elaun diperlukan',

                    },
                    HR_VOT_ELAUN: {
                        required: 'Vot Elaun diperlukan'
                    },
                    HR_SINGKATAN: {
                        required: 'Singkatan diperlukan',

                    },
                    HR_KOD_KREDITOR: {
                        required: 'Kod Kreditor diperlukan',

                    },

                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });

        })
    </script> 
