
@{
    ViewBag.Title = "Pensyarah";
}


@model eSPP.Models.Pensyarah

<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-pencil-square-o"></i>
                Forms
                <span>
                    >
                    Maklumat Pensyarah
                </span>
            </h1>
        </div>
    </div>

    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <!-- WIDGET END -->

        </div>

        <!-- end row -->
        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-sm-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                        <h2>Pensyarah</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">


                            <br />

                            <form class="smart-form">

                                <fieldset>
                                    <div class="row">
                                        <section class="col col-lg-2 col-md-2 col-sm-12">
                                            <label class="label">
                                                Singkatan
                                            </label>
                                        </section>
                                        <section class="col col-lg-6 col-md-6 col-sm-12">
                                            <label class="input">
                                                @Html.EditorFor(model => model.HR_SINGKATAN, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.HR_SINGKATAN, "", new { @class = "text-danger" })

                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-lg-2 col-md-2 col-sm-12">
                                            <label class="label">
                                                Penerangan
                                            </label>
                                        </section>
                                        <section class="col col-lg-6 col-md-6 col-sm-12">
                                            <label class="input">
                                                @Html.EditorFor(model => model.HR_PENERANGAN, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.HR_PENERANGAN, "", new { @class = "text-danger" })
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-lg-2 col-md-2 col-sm-12">
                                            <label class="label">
                                                Jenis Pensyarah
                                            </label>
                                        </section>
                                        <section class="col col-lg-4 col-md-4 col-sm-12">
                                            <label class="input">

                                                @Html.EditorFor(model => model.HR_JENIS_IND, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.HR_JENIS_IND, "", new { @class = "text-danger" })
                                            </label>
                                        </section>
                                        </div>
                                    <div class="row">
                                        <section class="col col-lg-2 col-md-2 col-sm-12">
                                            <label class="label">
                                                Kadar RM
                                            </label>
                                        </section>
                                        <section class="col col-lg-1 col-md-1 col-sm-12">
                                            <label class="input">

                                                @Html.EditorFor(model => model.HR_KADAR_JAM, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.HR_KADAR_JAM, "", new { @class = "text-danger" })
                                            </label>
                                            </section>
                                        <section class="col col-lg-1 col-md-1 col-sm-12">
                                            <label class="label">
                                                per jam
                                            </label>
                                        </section>
                                        
                                        <section class="col col-lg-1 col-md-1 col-sm-12">
                                            <label class="label">
                                                Nilai Maksima 
                                            </label>
                                        </section>
                                        <section class="col col-lg-1 col-md-1 col-sm-12">
                                            <label class="input">

                                                @Html.EditorFor(model => model.HR_PERATUS, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.HR_PERATUS, "", new { @class = "text-danger" })
                                            </label>
                                        </section>
                                        <section>
                                            <label class="label">
                                                % dari gaji pokok
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-lg-2 col-md-2 col-sm-12">
                                            <label class="label">
                                                Nilai Maksima RM
                                            </label>
                                        </section>
                                        <section class="col col-lg-3 col-md-3 col-sm-12">
                                            <label class="input">

                                               @Html.EditorFor(model => model.HR_NILAI_MAKSIMA, new { htmlAttributes = new { @class = "form-control" } })
                                               @Html.ValidationMessageFor(model => model.HR_NILAI_MAKSIMA, "", new { @class = "text-danger" })
                                            </label>
                                        </section>
                                        
                                    </div>
                                   
                                </fieldset>

                                <fieldset>

                                    <div class="">
                                        <table id="datatable_tabletools" class="table table-striped table-bordered table-hover" width="100%">
                                            <thead>
                                                <tr>
                                                    <th data-hide="phone">Kod Pensyarah</th>
                                                    <th data-class="expand">Singkatan</th>
                                                    <th>Penerangan</th>
                                                    <th data-hide="phone">Kadar Per Jam (RM)</th>
                                                    <th data-hide="phone">Nilai Maksima (%)</th>
                                                    <th data-hide="phone">Nilai Maksima (RM)</th>



                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>

                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>

                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </article>

        </div>
    </section>
</div>