<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-pencil-square-o"></i>
                Forms
                <span>
                    >
                    Pemprosesan Gaji Sambilan
                </span>
            </h1>
        </div>
    </div>
    <section id="widget-grid" class="">
        <div class="row">
        </div>
        <div class="row">
            <article class="col-sm-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                        <h2> Pemprosesan Gaji Sambilan</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
						<div class="widget-body no-padding">
							@using (Html.BeginForm("PDFSenaraiPergerakanGaji", "PengurusanKakitanganSambilan", FormMethod.Post, new { @class = "smart-form", id = "smart-form-register", enctype = "multipart/form-data", target = "_blank" }))
							{
								<fieldset>
									<div class="row">
										<section class="col col-lg-2 col-md-2 col-sm-12">
											<label class="label">
												Bulan Proses<font color="red">*</font>
											</label>
										</section>
										<section class="col col-lg-2 col-md-2 col-sm-12">
											<label class="input">

												@Html.DropDownList("bulan", null, String.Empty, htmlAttributes: new { @class = "form-control" })
												@Html.ValidationMessage("a", "", new { @class = "text-danger" })
											</label>
										</section>
									</div>
									<div class="row">
										<section class="col col-lg-2 col-md-2 col-sm-12">
											<label class="label">
												Tahun Proses<font color="red">*</font>
											</label>
										</section>
										<section class="col col-lg-2 col-md-2 col-sm-12">
											<label class="input">
												<input class="form-control" value="@DateTime.Now.Year" name="tahun" id="tahunproses" autocomplete="off">
												@Html.ValidationMessage("a", "", new { @class = "text-danger" })
											</label>
										</section>
									</div>
									<div class="row">
										<section class="col col-lg-2 col-md-2 col-sm-12">
											<label class="label">
												Jenis Laporan<font color="red">*</font>
											</label>
										</section>
										<section class="col col-lg-4 col-md-4 col-sm-12">
											<label class="input">

												@Html.DropDownList("jenis", null, String.Empty, htmlAttributes: new { @class = "form-control", onchange = "leaveChange()" })
												@Html.ValidationMessage("a", "", new { @class = "text-danger" })
											</label>
										</section>
									</div>
								</fieldset>
								<!--<header>
									Sejarah Pembayaran
								</header>
								<fieldset>
									<table class="table table-hover">
										<thead>
											<tr>
												<th width="1%">#</th>
												<th width="9%">No. Pekerja</th>
												<th width="80%">Nama Pekerja</th>
												<th width="10%">Jumlah (RM)</th>
											</tr>
										</thead>
										<tbody id="tbody">
										</tbody>
									</table>
								</fieldset>-->
                                <footer>
                                    <button type="submit" class="btn btn-default" id="Text" name="Command" target="_blank" value="Text"><i class="fa fa-file-text-o"></i> Jana Text</button>
                                    <button type="submit" class="btn btn-default" id="Pdf" name="Command" target="_blank" value="Pdf"><i class="fa fa-file-pdf-o"></i> Jana PDF</button>
                                    <button type="submit" class="btn btn-default" id="Excel" name="Command" target="_blank" value="Excel"><i class="fa fa-file-excel-o"></i> Jana Excel</button>
                                </footer>
							}
						</div>
						</div>
                </div>
            </article>
        </div>
    </section>
</div>
@section pagespecific {
	<script type="text/javascript">
		var responsiveHelper_dt_basic = undefined;
		var responsiveHelper_datatable_fixed_column = undefined;
		var responsiveHelper_datatable_col_reorder = undefined;
		var responsiveHelper_datatable_tabletools = undefined;

		var breakpointDefinition = {
			tablet: 1024,
			phone: 480
		};

		$('#dt_basic').dataTable({
			"sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                "t" +
                "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
			"autoWidth": true,
			"preDrawCallback": function () {
				// Initialize the responsive datatables helper once.
				if (!responsiveHelper_dt_basic) {
					responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
				}
			},
			"rowCallback": function (nRow) {
				responsiveHelper_dt_basic.createExpandIcon(nRow);
			},
			"drawCallback": function (oSettings) {
				responsiveHelper_dt_basic.respond();
			}
        });


        HideAllButtons();
		//$("#article").hide();
        function leaveChange() {
            var selectJenis = $("select[name='jenis']");
            if (selectJenis.val() >= 1 && selectJenis.val() <= 4) {
				/*debugger
				$(function () {
					$.ajax({
						url: "../PengurusanKakitanganSambilan/Export",
						data: { "tahun": $("#tahunproses").val(), "bulan": $("#bulan").val(), "jenis": $("#jenis").val() },
						contentType: "application/json; charset=utf-8",
						type: 'GET',
						dataType: "json",
						success: function (data) {
							var o = 0;
							$.each(data, function (i, v) {
								o++;
								$(".table").empty().append($("<tr><td width='1%'>" + o + "</td><td width='9%'>" + v.HR_NO_PEKERJA + "</td><td width='80%'>" + v.HR_NAMA_PEKERJA + "</td><td width='10%'>" + v.JUMLAH + "</td></tr>"));
							})
						}
					})
				})
				//$("#article").show();*/
                ShowExcelOnly();
            }
            else if ($('select[name=jenis]').val() == 0 || $('select[name=jenis]').val() == null) {
                HideAllButtons();
            }
            else if (selectJenis.val() == 10 || selectJenis.val() == 11) {
                ShowPdfAndText();
            }
            else {
                ShowPdfOnly();
			}
        }

        function ShowPdfOnly() {
            $("#Excel").hide();
            $("#Pdf").show();
            $("#Text").hide();
        }

        function ShowExcelOnly() {
            $("#Excel").show();
            $("#Pdf").hide();
            $("#Text").hide();
        }

        function ShowPdfAndText() {
            $("#Excel").hide();
            $("#Pdf").show();
            $("#Text").show();
        }

        function HideAllButtons() {
            var btnExcel = $("#Excel");
            var btnPdf = $("#Pdf");
            var btnText = $("#Text");

            btnExcel.hide();
            btnPdf.hide();
            btnText.hide();
        }
	</script>
}