<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-pencil-square-o"></i>
                Forms
                <span>
                    >
                    Pengurusan Pembayaran Automatik
                </span>
            </h1>
        </div>
    </div>
    <section id="widget-grid" class="">
        <div class="row">
        </div>
        <div class="row">
            <article class="col-sm-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                        <h2>   Pembayaran Automatik</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
						<div class="widget-body no-padding">
							<form class="smart-form">
								<fieldset>
									<div class="row">
										<section class="col col-lg-2 col-md-2 col-sm-12">
											<label class="label">
												Bulan
											</label>
										</section>
										<section class="col col-lg-4 col-md-4 col-sm-12">
											<label class="input">
												@Html.Editor("a", new { htmlAttributes = new { @class = "form-control" } })
												@Html.ValidationMessage("a", "", new { @class = "text-danger" })

											</label>
										</section>
									</div>
									<div class="row">
										<section class="col col-lg-2 col-md-2 col-sm-12">
											<label class="label">
												Tahun
											</label>
										</section>
										<section class="col col-lg-4 col-md-4 col-sm-12">
											<label class="input">
												@Html.Editor("a", new { htmlAttributes = new { @class = "form-control" } })
												@Html.ValidationMessage("a", "", new { @class = "text-danger" })

											</label>
										</section>
										<section class="col col-lg-2 col-md-2 col-sm-12">
											<label class="label">
												Tarikh Pembayaran
											</label>
										</section>
										<section class="col col-lg-4 col-md-4 col-sm-12">
											<label class="input">
												@Html.Editor("a", new { htmlAttributes = new { @class = "form-control" } })
												@Html.ValidationMessage("a", "", new { @class = "text-danger" })

											</label>
										</section>
									</div>
									<div class="row">
										<section class="col col-lg-2 col-md-2 col-sm-12">
											<label class="label">
												Nama Agensi
											</label>
										</section>
										<section class="col col-lg-4 col-md-4 col-sm-12">
											<label class="input">
												@Html.Editor("a", new { htmlAttributes = new { @class = "form-control" } })
												@Html.ValidationMessage("a", "", new { @class = "text-danger" })

											</label>
										</section>
									</div>
									<div class="row">
										<section class="col col-lg-2 col-md-2 col-sm-12">
											<label class="label">
												Alamat Agensi
											</label>
										</section>
										<section class="col col-lg-4 col-md-4 col-sm-12">
											<label class="input">
												@Html.Editor("a", new { htmlAttributes = new { @class = "form-control" } })
												@Html.ValidationMessage("a", "", new { @class = "text-danger" })
											</label>
										</section>
									</div>
									<div class="row">
										<section class="col col-lg-2 col-md-2 col-sm-12">
											<label class="label">

											</label>
										</section>
										<section class="col col-lg-4 col-md-4 col-sm-12">
											<label class="input">
												@Html.Editor("a", new { htmlAttributes = new { @class = "form-control" } })
												@Html.ValidationMessage("a", "", new { @class = "text-danger" })
											</label>
										</section>
									</div>
									<div class="row">
										<section class="col col-lg-2 col-md-2 col-sm-12">
											<label class="label">

											</label>
										</section>
										<section class="col col-lg-4 col-md-4 col-sm-12">
											<label class="input">
												@Html.Editor("a", new { htmlAttributes = new { @class = "form-control" } })
												@Html.ValidationMessage("a", "", new { @class = "text-danger" })
											</label>
										</section>
									</div>
									<div class="row">
										<section class="col col-lg-2 col-md-2 col-sm-12">
											<label class="label">
												Bandar
											</label>
										</section>
										<section class="col col-lg-4 col-md-4 col-sm-12">
											<label class="input">
												@Html.Editor("a", new { htmlAttributes = new { @class = "form-control" } })
												@Html.ValidationMessage("a", "", new { @class = "text-danger" })

											</label>
										</section>
										<section class="col col-lg-2 col-md-2 col-sm-12">
											<label class="label">
												Poskod
											</label>
										</section>
										<section class="col col-lg-4 col-md-4 col-sm-12">
											<label class="input">
												@Html.Editor("a", new { htmlAttributes = new { @class = "form-control" } })
												@Html.ValidationMessage("a", "", new { @class = "text-danger" })

											</label>
										</section>
									</div>
									<div class="row">
										<section class="col col-lg-2 col-md-2 col-sm-12">
											<label class="label">
												Negeri
											</label>
										</section>
										<section class="col col-lg-4 col-md-4 col-sm-12">
											<label class="input">
												@Html.Editor("a", new { htmlAttributes = new { @class = "form-control" } })
												@Html.ValidationMessage("a", "", new { @class = "text-danger" })
											</label>
										</section>
									</div>
									<div class="row">
										<section class="col col-lg-2 col-md-2 col-sm-12">
											<label class="label">
												No. Telefon 1
											</label>
										</section>
										<section class="col col-lg-4 col-md-4 col-sm-12">
											<label class="input">
												@Html.Editor("a", new { htmlAttributes = new { @class = "form-control" } })
												@Html.ValidationMessage("a", "", new { @class = "text-danger" })

											</label>
										</section>
										<section class="col col-lg-2 col-md-2 col-sm-12">
											<label class="label">
												No. Telefon 2
											</label>
										</section>
										<section class="col col-lg-4 col-md-4 col-sm-12">
											<label class="input">
												@Html.Editor("a", new { htmlAttributes = new { @class = "form-control" } })
												@Html.ValidationMessage("a", "", new { @class = "text-danger" })

											</label>
										</section>
									</div>
									<div class="row">
										<section class="col col-lg-2 col-md-2 col-sm-12">
											<label class="label">
												No. Faks 1
											</label>
										</section>
										<section class="col col-lg-4 col-md-4 col-sm-12">
											<label class="input">
												@Html.Editor("a", new { htmlAttributes = new { @class = "form-control" } })
												@Html.ValidationMessage("a", "", new { @class = "text-danger" })

											</label>
										</section>
										<section class="col col-lg-2 col-md-2 col-sm-12">
											<label class="label">
												No. Faks 2
											</label>
										</section>
										<section class="col col-lg-4 col-md-4 col-sm-12">
											<label class="input">
												@Html.Editor("a", new { htmlAttributes = new { @class = "form-control" } })
												@Html.ValidationMessage("a", "", new { @class = "text-danger" })

											</label>
										</section>
									</div>
									<div class="row">
										<section class="col col-lg-2 col-md-2 col-sm-12">
											<label class="label">
												Alamat E-mel
											</label>
										</section>
										<section class="col col-lg-4 col-md-4 col-sm-12">
											<label class="input">
												@Html.Editor("a", new { htmlAttributes = new { @class = "form-control" } })
												@Html.ValidationMessage("a", "", new { @class = "text-danger" })

											</label>
										</section>
										<section class="col col-lg-2 col-md-2 col-sm-12">
											<label class="label">
												No. Cek
											</label>
										</section>
										<section class="col col-lg-4 col-md-4 col-sm-12">
											<label class="input">
												@Html.Editor("a", new { htmlAttributes = new { @class = "form-control" } })
												@Html.ValidationMessage("a", "", new { @class = "text-danger" })

											</label>
										</section>
									</div>
								</fieldset>
								<footer>
									<button type="submit" class="btn btn-default" id="Carian" name="Command" value="Carian"><i class="fa fa-search"></i> Carian</button>
									<button type="submit" class="btn btn-default" id="Ubah" name="Command" value="Ubah"><i class="fa fa-edit"></i> Ubah</button>
									<button type="submit" class="btn btn-default" id="Mukatamad" name="Command" value="Mukatamad"><i class="fa fa-plus"></i> Mukatamad</button>
									<button type="submit" class="btn btn-default" onclick="window.location.href('@Url.Action("transaksisambilan","transaksisambilan")')" id="Batal" name="Command" value="Batal"><i class="fa fa-refresh"></i> Batal</button>
									<button type="submit" class="btn btn-default" id="Cetak" name="Command" value="Cetak"><i class="fa fa-print"></i> Cetak</button>
									<button type="submit" class="btn btn-default" id="Bantuan" name="Command" value="Bantuan"><i class="fa fa-info"></i> Bantuan</button>
								</footer>

							</form>
						</div>
                    </div>
						</div>
            </article>

        </div>
    </section>
</div>