


@model eSPP.Models.HR_SEMINAR_LUAR

<div>
    <div class="modal-header">
        <button type="button" class="close" id="Tambah-btn" data-dismiss="modal" aria-hidden="true">
            &times;
        </button>
        <h4 class="modal-title">
            Maklumat Permohonan Ke Luar Negeri <span class="error"></span>
        </h4>
    </div>
    <div class="modal-body no-padding">

        @using (Html.BeginForm("InfoLuarNegara","LuarNegara", FormMethod.Post, new { @class = "smart-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.HR_KOD_LAWATAN)
            @Html.HiddenFor(model => model.HR_JENIS_IND)

            <div id="peribadi">

                @if (Model.HR_JENIS_IND == "R" || Model.HR_JENIS_IND == null)
                {

                    <fieldset class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        
                        <div class="row">

                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Tarikh Permohonan</label>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>

                                                <input type="text" name="HR_TARIKH_PERMOHONAN" id="HR_TARIKH_PERMOHONAN" class="form-control" value="@string.Format("{0:dd/MM/yyyy}", Model.HR_TARIKH_PERMOHONAN)" , disabled="disabled" />
                                            </label>
                                        </div>

                                    </section>
                                    <section class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Bulan</label>
                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                            <label class="input">
                                                @Html.DropDownList("bulan", null, String.Empty, htmlAttributes: new { @class = "form-control", disabled = "disabled" })

                                            </label>

                                        </div>
                                    </section>
                                    <section class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Tahun</label>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                            <label class="input">

                                                <input class="form-control" value="@DateTime.Now.Year" name="tahundibayar" id="tahundibayar"  disabled="disabled">

                                            </label>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend style="background-color:white">
                            Maklumat Lawatan   (Urusan Rasmi)
                        </legend>
                       
                        <div class="row">
                            <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Nama Persidangan/Seminar/Lawatan Rasmi</label>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <label class="textarea textarea-resizable">
                                        <i class="icon-append fa fa-comment"></i>
                                        @Html.TextAreaFor(model => model.HR_NAMA_SEMINAR, new { @class = "form-control", rows = 5, disabled = "disabled" })

                                    </label>
                                </div>

                            </section>

                            <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Tujuan</label>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <label class="input">
                                        @Html.EditorFor(model => model.HR_TUJUAN, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                                    </label>
                                </div>

                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Tempat</label>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <label class="input">
                                        @Html.EditorFor(model => model.HR_TEMPAT, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                                    </label>
                                </div>

                            </section>

                            <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Tarikh Dari</label>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <label class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" name="HR_TARIKH_MULA" id="HR_TARIKH_MULA" class="form-control" value="@string.Format("{0:dd/MM/yyyy}", Model.HR_TARIKH_MULA)" disabled="disabled" />
                                    </label>
                                </div>

                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Tarikh Hingga</label>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <label class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" name="HR_TARIKH_TAMAT" id="HR_TARIKH_TAMAT" class="form-control" value="@string.Format("{0:dd/MM/yyyy}", Model.HR_TARIKH_TAMAT)" disabled="disabled" />
                                    </label>
                                </div>

                            </section>

                            <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Perbelanjaan Ditanggung oleh </label>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <label class="select">
                                        @Html.DropDownListFor(model => model.HR_PERBELANJAAN, new SelectList(ViewBag.belanja, "Value", "Text"), String.Empty, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                                        <i></i>
                                    </label>
                                </div>

                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Kelulusan Kementerian Hal Ehwal Dalam Negeri dan Kementerian Luar Negeri( jika di negara komunis) </label>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <label class="select">
                                        @Html.DropDownListFor(model => model.HR_LULUS_IND, new SelectList(ViewBag.luluskementerian, "Value", "Text"), String.Empty, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                                        <i></i>
                                    </label>
                                </div>

                            </section>

                            <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Faedahnya kepada Negeri-Negeri Selangor</label>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <label class="input">

                                        @Html.EditorFor(model => model.HR_FAEDAH, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                                    </label>
                                </div>

                            </section>
                        </div>
                    </fieldset>

                }
                else if (Model.HR_JENIS_IND == "P")
                {
                    
                    <fieldset class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                       
                        <div class="row">

                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Tarikh Permohonan</label>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>

                                                <input type="text" name="HR_TARIKH_PERMOHONAN" id="HR_TARIKH_PERMOHONAN" class="form-control" value="@string.Format("{0:dd/MM/yyyy}", Model.HR_TARIKH_PERMOHONAN)" , disabled="disabled" />
                                            </label>
                                        </div>

                                    </section>
                                    <section class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Bulan</label>
                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                            <label class="input">
                                                @Html.DropDownList("bulan", null, String.Empty, htmlAttributes: new { @class = "form-control", disabled = "disabled" })

                                            </label>
                                        </div>
                                    </section>
                                    <section class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Tahun</label>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                            <label class="input">

                                                <input class="form-control" value="@DateTime.Now.Year" name="tahundibayar" id="tahundibayar"  disabled="disabled">

                                            </label>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend style="background-color:white">
                            Maklumat Lawatan  (Urusan Persendirian)
                        </legend>
                        <div class="row">
                            <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Tarikh Dari</label>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                                    <label class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" name="HR_TARIKH_MULA" id="HR_TARIKH_MULA" class="form-control" value="@string.Format("{0:dd/MM/yyyy}", Model.HR_TARIKH_MULA)" readonly='readonly' />
                                    </label>
                                </div>

                            </section>
                            <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Tarikh Hingga</label>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <label class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" name="HR_TARIKH_TAMAT" id="HR_TARIKH_TAMAT" class="form-control" value="@string.Format("{0:dd/MM/yyyy}", Model.HR_TARIKH_TAMAT)" readonly='readonly' />
                                    </label>
                                </div>

                            </section>
                        </div>
                        <br />
                        <div class="row">
                            <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Nama Persidangan/Seminar/Lawatan Rasmi</label>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <label class="textarea textarea-resizable">
                                        <i class="icon-append fa fa-comment"></i>
                                        @Html.TextAreaFor(model => model.HR_NAMA_SEMINAR, new { @class = "form-control", rows = 5, disabled = "disabled" })

                                    </label>
                                </div>

                            </section>

                            <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Tujuan</label>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <label class="input">
                                        @Html.EditorFor(model => model.HR_TUJUAN, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                                    </label>
                                </div>

                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Tempat</label>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <label class="input">
                                        @Html.EditorFor(model => model.HR_TEMPAT, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                                    </label>
                                </div>

                            </section>
                            <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Perbelanjaan Ditanggung oleh </label>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <label class="select">
                                        @Html.DropDownListFor(model => model.HR_PERBELANJAAN, new SelectList(ViewBag.belanja, "Value", "Text"), String.Empty, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                                        <i></i>
                                    </label>
                                </div>

                            </section>

                        </div>
                        <div class="row">
                            <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Alamat Semasa Bercuti</label>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <label class="input">
                                        @Html.EditorFor(model => model.HR_ALAMAT_CUTI, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                                    </label>
                                </div>
                            </section>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend style="background-color:white">
                            Maklumat Kelulusan Cuti Rehat
                        </legend>
                        <div class="row">
                            <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Tarikh Mula Cuti</label>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                                    <label class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" name="HR_TARIKH_CUTI" id="HR_TARIKH_CUTI" class="form-control" value="@string.Format("{0:dd/MM/yyyy}", Model.HR_TARIKH_CUTI)" readonly='readonly' />
                                    </label>
                                </div>

                            </section>
                            <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Tarikh Akhir Cuti</label>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <label class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" name="HR_TARIKH_CUTI_AKH" id="HR_TARIKH_CUTI_AKH" class="form-control" value="@string.Format("{0:dd/MM/yyyy}", Model.HR_TARIKH_CUTI_AKH)" readonly='readonly' />
                                    </label>
                                </div>

                            </section>
                        </div>
                        <br />
                        <div class="row">
                            <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Jumlah Hari Cuti</label>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <label class="textarea textarea-resizable">
                                        <i class="icon-append fa fa-comment"></i>
                                        @Html.EditorFor(model => model.HR_JUMLAH_CUTI, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    </label>
                                </div>

                            </section>

                            <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Tarikh Kembali Bertugas</label>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <label class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" name="HR_TARIKH_KEMBALI" id="HR_TARIKH_KEMBALI" class="form-control" value="@string.Format("{0:dd/MM/yyyy}", Model.HR_TARIKH_KEMBALI)" readonly='readonly' />
                                    </label>
                                </div>

                            </section>
                        </div>

                    </fieldset>

                }
                <footer>

                    <a type="button" class="btn btn-default" href="luarnegara">
                        Kembali
                    </a>
                </footer>
            </div>
        }

            </div>

</div>
@section pagespecific {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Tambah-btn").click(function () {
                debugger
                $('#TambahModal').modal('hide');
            });
        })
    </script>
}