@model eSPP.Models.HR_MAKLUMAT_PERIBADI

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HR_MAKLUMAT_PERIBADI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HR_NO_KPBARU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_NO_KPBARU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_NAMA_PEKERJA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_NAMA_PEKERJA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_NO_KPLAMA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_NO_KPLAMA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_TARIKH_LAHIR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_TARIKH_LAHIR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_TEMPAT_LAHIR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_TEMPAT_LAHIR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_WARGANEGARA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_WARGANEGARA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_KETURUNAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_KETURUNAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_AGAMA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_AGAMA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_JANTINA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_JANTINA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_TARAF_KAHWIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_TARAF_KAHWIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_LESEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_LESEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_KELAS_LESEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_KELAS_LESEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_TALAMAT1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_TALAMAT1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_TALAMAT2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_TALAMAT2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_TALAMAT3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_TALAMAT3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_TPOSKOD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_TPOSKOD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_TBANDAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_TBANDAR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_TNEGERI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_TNEGERI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_SALAMAT1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_SALAMAT1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_SALAMAT2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_SALAMAT2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_SALAMAT3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_SALAMAT3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_SBANDAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_SBANDAR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_SPOSKOD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_SPOSKOD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_SNEGERI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_SNEGERI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_TAHUN_SPM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_TAHUN_SPM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_GRED_BM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_GRED_BM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_TELRUMAH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_TELRUMAH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_TELPEJABAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_TELPEJABAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_TELBIMBIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_TELBIMBIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_AKTIF_IND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_AKTIF_IND)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_CC_KENDERAAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_CC_KENDERAAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_NO_KENDERAAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_NO_KENDERAAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_JENIS_KENDERAAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_JENIS_KENDERAAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_ALASAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_ALASAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_IDPEKERJA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_IDPEKERJA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_TARIKH_KEYIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_TARIKH_KEYIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_NP_KEYIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_NP_KEYIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_TARIKH_UBAH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_TARIKH_UBAH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_NP_UBAH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_NP_UBAH)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
