@model eSPP.Models.ChangePasswordViewModel

<div id="content">


    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-pencil-square-o"></i>
                Pengguna
                <span>
                    >
                    Tukar Kata Laluan
                </span>
            </h1>
        </div>
    </div>
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-sm-12 col-md-12 col-lg-6">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-eye"></i> </span>
					<h2>Tukar Kata Laluan</h2>

				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->
					<!-- widget content -->
					<div class="widget-body">
						<div class="alert adjusted alert-warning fade in">
							<button class="close" data-dismiss="alert">
								×
							</button>
							<i class="fa-fw fa-lg fa fa-warning"></i>
							<strong>Peringatan</strong> Bahagian yang bertanda (<font color="red">*</font>) adalah wajib di isi.
						</div>
						@if (ViewBag.StatusMessage == "Katalaluan Anda Telah Melebihi 3 Bulan. Sila Kemaskini Katalaluan Yang Baru. Anda Boleh Guna Katalaluan Yang Lama")
						{
							<div class="alert adjusted alert-warning fade in">
								<button class="close" data-dismiss="alert">
									×
								</button>
								<i class="fa-fw fa-lg fa fa-warning"></i>
								<strong>Peringatan</strong> @ViewBag.StatusMessage
							</div>
						}
						@if (ViewBag.StatusMessage == "Sila Tukar Katalaluan Yang Baru")
						{
							<div class="alert adjusted alert-warning fade in">
								<button class="close" data-dismiss="alert">
									×
								</button>
								<i class="fa-fw fa-lg fa fa-warning"></i>
								<strong>Peringatan</strong> @ViewBag.StatusMessage
							</div>
						}
						@if (ViewBag.StatusMessage == "Kata Laluan Tidak Betul.")
						{
							<div class="alert adjusted alert-danger fade in">
								<button class="close" data-dismiss="alert">
									×
								</button>
								<i class="fa-fw fa-lg fa fa-exclamation-triangle"></i>
								<strong>Ralat</strong> @ViewBag.StatusMessage
							</div>
						}
						@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", id = "smart-form-register", enctype = "multipart/form-data", autocomplete = "off" }))
						{
							<input type="hidden" name="getuserid" value="@ViewBag.id" />
							@Html.AntiForgeryToken()
							<fieldset>
								<div class="form-group">
									<label class="control-label col-md-3" for="prepend">Kata Laluan Lama<font color="red">*</font></label>
									<div class="col-md-9">
										<div class="row">
											<div class="col-sm-12">
												<div class="input-group">
													@Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", minlength = "8" } })
													<span class="input-group-addon" id="myP1"><i class="fa fa-eye"></i></span>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-3" for="prepend">Kata Laluan Baru<font color="red">*</font></label>
									<div class="col-md-9">
										<div class="row">
											<div class="col-sm-12">
												<div class="input-group">
													@Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", minlength = "8" } })
													<span class="input-group-addon" id="myP2"><i class="fa fa-eye"></i></span>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-3" for="prepend">Sahkan Kata Laluan Baru<font color="red">*</font></label>
									<div class="col-md-9">
										<div class="row">
											<div class="col-sm-12">
												<div class="input-group">
													@Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", minlength = "8" } })
													<span class="input-group-addon" id="myP3"><i class="fa fa-eye"></i></span>
												</div>
											</div>
										</div>
									</div>
								</div>

							</fieldset>

							<div class="form-actions">
								<div class="row">
									<div class="col-md-12">
										<button type="button" class="btn btn-default" onclick="javascript: history.go(-1)">
											Kembali
										</button>
										<button type="reset" class="btn btn-danger">
											Padam
										</button>
										<button type="submit" class="btn btn-success" onclick="validate();">
											Kemaskini
										</button>
									</div>
								</div>
							</div>
						}
					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>

	</div>
</div>
<!-- END MAIN CONTENT -->

@section pagespecific {
    <script type="text/javascript">
		// DO NOT REMOVE : GLOBAL FUNCTIONS!
		document.getElementById("myP1").onmousedown = function () { mouseDown1() };
		document.getElementById("myP1").onmouseup = function () { mouseUp1() };
		document.getElementById("myP2").onmousedown = function () { mouseDown2() };
		document.getElementById("myP2").onmouseup = function () { mouseUp2() };
		document.getElementById("myP3").onmousedown = function () { mouseDown3() };
		document.getElementById("myP3").onmouseup = function () { mouseUp3() };

		function mouseDown1() {
			$("input[name='OldPassword']").attr('type', 'text');
		}

		function mouseUp1() {
			$("input[name='OldPassword']").attr('type', 'password');
		}

		function mouseDown2() {
			$("input[name='NewPassword']").attr('type', 'text');
		}

		function mouseUp2() {
			$("input[name='NewPassword']").attr('type', 'password');
		}

		function mouseDown3() {
			$("input[name='ConfirmPassword']").attr('type', 'text');
		}

		function mouseUp3() {
			$("input[name='ConfirmPassword']").attr('type', 'password');
		}

		$(document).ready(function () {

        var $registerForm = $("#smart-form-register").validate({

            // Rules for form validation
            rules: {
                OldPassword: {
                    required: true
                },
                NewPassword: {
                    required: true
                },
                ConfirmPassword: {
					required: true,
					equalTo: 'input[name="NewPassword"]'
				},
            },

            // Messages for form validation
            messages: {
                OldPassword: {
                    required: "Sila Masukkan Kata Laluan Lama"
                },
                NewPassword: {
                    required: "Sila Masukkan Kata Laluan Baru"
                },
                ConfirmPassword: {
					required: "Sila Masukkan Sahkan Kata Laluan",
					equalTo: "Kata Laluan Tidak Sama"
				}
			},

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        })
    });
    </script>
}
