@model eSPP.Models.ChangePasswordViewModel

<div id="content">


    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-pencil-square-o"></i>
                Pengguna
                <span>
                    >
                    Tukar Kata Laluan
                </span>
            </h1>
        </div>
    </div>
	<div class="row">
		<article class="col-sm-12">
			<div class="alert alert-warning fade in">
				<button class="close" data-dismiss="alert">
					×
				</button>
				<i class="fa-fw fa fa-warning"></i>
				<strong>Peringatan</strong> Bahagian yang bertanda (<font color="red">*</font>) adalah wajib di isi.
			</div>
		</article>
	</div>
	@if (ViewBag.StatusMessage == "Katalaluan Anda Telah Melebihi 3 Bulan. Sila Kemaskini Katalaluan Yang Baru. Anda Boleh Guna Katalaluan Yang Lama")
	{
		<div class="row">
			<!-- NEW WIDGET START -->
			<article class="col-sm-12">

				<div class="alert alert-warning fade in">
					<button class="close" data-dismiss="alert">
						×
					</button>
					<i class="fa-fw fa fa-warning"></i>
					<strong>Peringatan </strong>@ViewBag.StatusMessage
				</div>

			</article>
			<!-- WIDGET END -->
		</div>
	}
	@if (ViewBag.StatusMessage == "Sila Tukar Katalaluan Yang Baru")
	{
		<div class="row">
			<!-- NEW WIDGET START -->
			<article class="col-sm-12">

				<div class="alert alert-warning fade in">
					<button class="close" data-dismiss="alert">
						×
					</button>
					<i class="fa-fw fa fa-warning"></i>
					<strong>Peringatan </strong>@ViewBag.StatusMessage
				</div>

			</article>
			<!-- WIDGET END -->
		</div>
	}
	else
	{
        <!-- NEW WIDGET START -->
        <!-- WIDGET END -->
	}
    <section id="widget-grid" class="">
        <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                <h2>Tukar Kata Laluan </h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "smart-form", id = "smart-form-register", enctype = "multipart/form-data", autocomplete = "off" }))
                    {
                        <input type="hidden" name="getuserid" value="@ViewBag.id" />
                        @Html.AntiForgeryToken()
                        <header>
                            Sila Masukkan Kata Laluan Lama Dan Baru
                        </header>
                        <fieldset>
                            <div class="row">
                                <section class="col col-lg-2 col-md-2 col-sm-12">
                                    <label class="label">
                                        Kata Laluan Lama<font color="red">*</font>
                                    </label>
                                </section>
                                <section class="col col-lg-4 col-md-4 col-sm-12">
                                    <label class="input">
                                        @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", minlength = "8" } })
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-lg-2 col-md-2 col-sm-12">
                                    <label class="label">
                                        Kata Laluan Baru<font color="red">*</font>
                                    </label>
                                </section>
                                <section class="col col-lg-4 col-md-4 col-sm-12">
                                    <label class="input">

                                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", minlength = "8" } })
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-lg-2 col-md-2 col-sm-12">
                                    <label class="label">
                                        Sahkan Kata Laluan<font color="red">*</font>
                                    </label>
                                </section>
                                <section class="col col-lg-4 col-md-4 col-sm-12">
                                    <label class="input">
                                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", minlength = "8" } })
                                    </label>
                                </section>
                            </div>
							<section class="col col-lg-4 col-md-4 col-sm-12">
								<div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 smart-form">
									<div class="text-right">
										<label class="">Papar Kata Laluan : </label>
										<span class="onoffswitch">
											<input type="checkbox" name="sah[]" class="onoffswitch-checkbox" id="mKakitangan-btn" value="off">
											<label class="onoffswitch-label" for="mKakitangan-btn">
												<span class="onoffswitch-inner" data-swchon-text="YES" data-swchoff-text="NO"></span>
												<span class="onoffswitch-switch"></span>
											</label>
										</span>
									</div>
								</div>
							</section>
                        </fieldset>
                        <footer>
                            <button type="submit" class="btn btn-success" onclick="validate();">
                                Kemaskini
                            </button>

                            <button type="reset" class="btn btn-danger">
                                Padam
                            </button>

                            <button type="button" class="btn btn-default" onclick="javascript: history.go(-1)">
                                Kembali
                            </button>
                        </footer>
                    }
                </div>
            </div>
        </div>
    </section>
</div>
<!-- END MAIN CONTENT -->

@section pagespecific {
    <script type="text/javascript">
    // DO NOT REMOVE : GLOBAL FUNCTIONS!
		$("input[name='sah[]']").on("change", function () {
			if ($(this).attr("id") == "mKakitangan-btn") {
				if ($(this).is(':checked') == true) {
					$(this).val('on')
					$("input[name='OldPassword']").attr('type', 'text');
					$("input[name='NewPassword']").attr('type', 'text');
					$("input[name='ConfirmPassword']").attr('type', 'text');
				}
				else {
					$(this).val('off')
					$("input[name='OldPassword']").attr('type', 'password');
					$("input[name='NewPassword']").attr('type', 'password');
					$("input[name='ConfirmPassword']").attr('type', 'password');
				}
			}
		})

        $(document).ready(function () {

        var $registerForm = $("#smart-form-register").validate({

            // Rules for form validation
            rules: {
                OldPassword: {
                    required: true
                },
                NewPassword: {
                    required: true
                },
                ConfirmPassword: {
					required: true,
					equalTo: 'input[name="NewPassword"]'
				},
            },

            // Messages for form validation
            messages: {
                OldPassword: {
                    required: "Sila Masukkan Kata Laluan Lama"
                },
                NewPassword: {
                    required: "Sila Masukkan Kata Laluan Baru"
                },
                ConfirmPassword: {
					required: "Sila Masukkan Sahkan Kata Laluan",
					equalTo: "Kata Laluan Tidak Sama"
				}
			},

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        })
    });
    </script>
}
