


@{
    ViewBag.Title = "PenyelenggaraanLatihan";
}




<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-pencil-square-o"></i>
                Forms
                <span>
                    >
                    Penyelenggaraan Latihan Bulanan
                </span>
            </h1>
        </div>
    </div>

    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <!-- WIDGET END -->

        </div>

        <!-- end row -->
        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-sm-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                        <h2> Penyelenggaraan Latihan Bulanan</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">

                            <div class="row">

                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 offset-lg-1">
                                    <div class="well">
                                        @using (Html.BeginForm())
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="row">
                                                <div class="col-lg-3 col-sm-3 col-xs-12">
                                                    <div class="input">
                                                        <input type="text" name="value" id="value" class="form-control" placeholder="Bulan" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="input">
                                                        <input type="text" name="value" id="value" class="form-control" placeholder="Tahun" />
                                                    </div>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                    <div class="button">
                                                        <button class="btn btn-default btn-primary" type="submit">
                                                            <i class="fa fa-search"></i> Cari
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        }


                                    </div>
                                </div>

                            </div>
                            <br />

                            <form class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-lg-2 col-md-2 col-sm-12">
                                            <label class="label">
                                                Nama Latihan
                                            </label>
                                        </section>
                                        <section class="col col-lg-6 col-md-6 col-sm-12">
                                            <label class="input">

                                                @Html.Editor("a", new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessage("a", "", new { @class = "text-danger" })
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-lg-2 col-md-2 col-sm-12">
                                            <label class="label">
                                                Kategori
                                            </label>
                                        </section>
                                        <section class="col col-lg-6 col-md-6 col-sm-12">
                                            <label class="input">
                                                @Html.Editor("a", new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessage("a", "", new { @class = "text-danger" })
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-lg-2 col-md-2 col-sm-12">
                                            <label class="label">
                                                Anjuran
                                            </label>
                                        </section>
                                        <section class="col col-lg-2 col-md-2 col-sm-12">
                                            <label class="input">

                                                @Html.Editor("a", new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessage("a", "", new { @class = "text-danger" })
                                            </label>
                                        </section>
                                        <section class="col col-lg-2 col-md-2 col-sm-12">
                                            <label class="label">
                                                Tarikh Akhir Pemohonan
                                            </label>
                                        </section>
                                        <section class="col col-lg-2 col-md-2 col-sm-12">
                                            <label class="input">
                                                @Html.Editor("a", new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessage("a", "", new { @class = "text-danger" })
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                             
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-lg-2 col-md-2 col-sm-12">
                                            <label class="label">
                                                No. Pekerja
                                            </label>
                                        </section>
                                        <section class="col col-lg-2 col-md-2 col-sm-12">
                                            <label class="input">

                                                @Html.Editor("a", new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessage("a", "", new { @class = "text-danger" })
                                            </label>
                                        </section>
                                        <section class="col col-lg-2 col-md-2 col-sm-12">
                                            <label class="label">
                                                Nama Pekerja
                                            </label>
                                        </section>
                                        <section class="col col-lg-4 col-md-4 col-sm-12">
                                            <label class="input">
                                                @Html.Editor("a", new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessage("a", "", new { @class = "text-danger" })
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-lg-2 col-md-2 col-sm-12">
                                            <label class="label">
                                                Jawatan
                                            </label>
                                        </section>
                                        <section class="col col-lg-8 col-md-8 col-sm-12">
                                            <label class="input">
                                                @Html.Editor("a", new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessage("a", "", new { @class = "text-danger" })
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-lg-2 col-md-2 col-sm-12">
                                            <label class="label">
                                                Jabatan
                                            </label>
                                        </section>
                                        <section class="col col-lg-8 col-md-8 col-sm-12">
                                            <label class="input">
                                                @Html.Editor("a", new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessage("a", "", new { @class = "text-danger" })
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-lg-2 col-md-2 col-sm-12">
                                            <label class="label">
                                                Bahagian
                                            </label>
                                        </section>
                                        <section class="col col-lg-8 col-md-8 col-sm-12">
                                            <label class="input">
                                                @Html.Editor("a", new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessage("a", "", new { @class = "text-danger" })
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Kehadiran</label>
                                            <div class="inline-group col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                <label class="radio">
                                                    @Html.RadioButton("a", "H", htmlAttributes: new { @class = "form-control", disabled = "disabled " })
                                                    <i></i>Hadir
                                                </label>
                                                <label class="radio">
                                                    @Html.RadioButton("a", "T", htmlAttributes: new { @class = "form-control", disabled = "disabled " })
                                                    <i></i>Tidak Hadir
                                                </label>
                                            </div>
                                        </section>
                                   </div>
                                </fieldset>
                                <header>
                                    Senarai Calon
                                </header>
                                <fieldset>
                                    <div class="">
                                        <table id="datatable_tabletools" class="table table-striped table-bordered table-hover" width="100%">
                                            <thead>
                                                <tr>
                                                    <th data-hide="phone">Kehadiran</th>
                                                    <th data-class="expand">Tarikh Permohonan</th>
                                                    <th>Nama Pekerja</th>
                                                    <th data-hide="phone">Jawatan</th>
                                                    <th data-hide="phone">Jabatan</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </article>

        </div>
    </section>
</div>