@model ResetPasswordViewModel
@{
    Layout = "";
    ViewBag.PageId = "extr-page";
    ViewBag.PageClass = "animated fadeInDown";
}
<head>
    <meta charset="utf-8">
    <title>eSPP - LPKtn</title>
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="~/Content/css/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div class="container">
        <div class="top">
            <h1 id="title" class="hidden"><span id="logo">eSPP <span>LPKtn</span></span></h1>
        </div>
        @using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <div class="login-box animated fadeInUp">
                <div class="box-header">
                    <h2>Reset Katalaluan</h2>
                    @Html.HiddenFor(model => model.Code)
                </div>
                <font color="red">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                </font>
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <br />
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                <br />
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <br />
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                <br />
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <br />
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                <br />
                <input type="submit" class="btn btn-default" value="Reset" />
                <br />
                <a href="@Url.Action("Login", "Account")"><p class="small">Log Masuk</p></a>
            </div>
        }
    </div>
</body>
@section pagespecific {
    <script type="text/javascript">
            $(document).ready(function () {
                $('#logo').addClass('animated fadeInDown');
                $("input:text:visible:first").focus();
            });
            $('#username').focus(function () {
                $('label[for="username"]').addClass('selected');
            });
            $('#username').blur(function () {
                $('label[for="username"]').removeClass('selected');
            });
            $('#password').focus(function () {
                $('label[for="password"]').addClass('selected');
            });
            $('#password').blur(function () {
                $('label[for="password"]').removeClass('selected');
            });

            $(function () {
                // Validation
                $("#login-form").validate({
                    // Rules for form validation
                    rules: {
                        email: {
                            required: true,
                            email: true
                        },
                        password: {
                            required: true,
                            minlength: 8,
                            maxlength: 20
                        }
                    },

                    // Messages for form validation
                    /*messages: {
                        email: {
                            required: 'Sila Masukkan Alamat Emel',
                            email: 'Sila Masukkan Alamat Emel Yang Betul'
                        },
                        password: {
                            required: 'Sila Masukkan Katalaluan'
                        }
                    },*/

                    // Do not change code below
                    errorPlacement: function (error, element) {
                        error.insertAfter(element.parent());
                    }
                });
            });
    </script>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
