

@model eSPP.Models.GE_JABATAN

<div>
    <div class="modal-header">
        <button type="button" class="close" id="Tambah-btn" data-dismiss="modal" aria-hidden="true">
            &times;
        </button>
        <h4 class="modal-title">
            Edit Jabatan<span class="error"></span>
        </h4>
    </div>
    <div class="modal-body no-padding">

        @using (Html.BeginForm("EditJabatan", "JabatanBahagianUnit", FormMethod.Post, new { id = "jabatan-form", @class = "smart-form", novalidate = "novalidate" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
           

            <fieldset>
                <section>
                    <div class="row">
                        <label class="label col col-4">Kod Jabatan  </label>
                        <div class="col col-8">
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                @Html.EditorFor(model => model.GE_KOD_JABATAN, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Singkatan  </label>
                        <div class="col col-8">
                            <label class="input">
                                 <i class="icon-append fa fa-user"></i>
                                @Html.EditorFor(model => model.GE_SINGKATAN, new { htmlAttributes = new { @class = "form-control", maxlength = 10 } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Jabatan  </label>
                        <div class="col col-8">
                            <label class="input">
                                <i class="icon-append fa fa-briefcase"></i>
                                @Html.EditorFor(model => model.GE_KETERANGAN_JABATAN, new { htmlAttributes = new { @class = "form-control" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Alamat  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.GE_ALAMAT1, new { htmlAttributes = new { @class = "form-control" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.GE_ALAMAT2, new { htmlAttributes = new { @class = "form-control" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.GE_ALAMAT3, new { htmlAttributes = new { @class = "form-control" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4"> Bandar </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.GE_BANDAR, new { htmlAttributes = new { @class = "form-control" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4"> Poskod </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.GE_POSKOD, new { htmlAttributes = new { @class = "form-control" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4"> Negeri </label>
                        <div class="col col-8">
                            <label class="select">
                                @Html.DropDownListFor(model => model.GE_NEGERI, null, String.Empty, new { @class = "form-control" })
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4"> No Telefon 1 </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.GE_TELPEJABAT1, new { htmlAttributes = new { @class = "form-control" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4"> No Telefon 2 </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.GE_TELPEJABAT2, new { htmlAttributes = new { @class = "form-control" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4"> No. Faks 1 </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.GE_FAKS1, new { htmlAttributes = new { @class = "form-control" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">  No. Faks 2 </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.GE_FAKS2, new { htmlAttributes = new { @class = "form-control" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4"> Alamat E-mel </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.GE_EMAIL, new { htmlAttributes = new { @class = "form-control" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">  No. Ketua </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.GE_NO_KETUA, new { htmlAttributes = new { @class = "form-control", maxlength = 5 } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Status</label>
                        <div class="col col-8">
                            <div class="inline-group">
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.GE_AKTIF_IND, "Y", htmlAttributes: new { @class = "form-control" })
                                    <i></i>Aktif
                                </label>
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.GE_AKTIF_IND, "T", htmlAttributes: new { @class = "form-control" })
                                    <i></i>Tidak Aktif
                                </label>
                            </div>
                        </div>
                    </div>
                </section>
            </fieldset>

            <footer>
                <button type="submit" id="btn" class="btn btn-primary">
                    <span class="fa fa-send-o"></span> Hantar
                </button>
                <a type="button" class="btn btn-default" href="jabatanbahagianunit">
                    Kembali
                </a>
            </footer>
                                    }

    </div>

</div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Tambah-btn").click(function () {
                debugger
                $('#TambahModal').modal('hide');
            });

            var $jabatanForm = $("#jabatan-form").validate({
                // Rules for form validation
                rules: {
                    GE_SINGKATAN: {
                        required: true,
                        remote: {
                            url: "JabatanBahagianUnit/CariEditJabatan",
                            type: "get",
                            data: {
                                singkatan: function () {
                                    return $("#GE_SINGKATAN").val();
                                },
                                kod: function () {
                                    return $("#GE_KOD_JABATAN").val();
                                }
                            }
                        }
                    },
                    GE_KETERANGAN_JABATAN: {
                        required: true,
                        remote: {
                            url: "JabatanBahagianUnit/CariEditJabatan",
                            type: "get",
                            data: {
                                keterangan: function () {
                                    return $("#GE_KETERANGAN_JABATAN").val();
                                },
                                kod: function () {
                                    return $("#GE_KOD_JABATAN").val();
                                }
                            }
                        }
                    },


                },

                // Messages for form validation
                messages: {
                    GE_SINGKATAN: {
                        required: 'Nama Singkatan diperlukan'
                    },
                    GE_KETERANGAN_JABATAN: {
                        required: 'Keterangan Jabatan diperlukan',

                    },

                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        })
    </script> 
