



@model eSPP.Models.GE_UNIT

<div>
    <div class="modal-header">
        <button type="button" class="close" id="Tambah-btn" data-dismiss="modal" aria-hidden="true">
            &times;
        </button>
        <h4 class="modal-title">
            Info Unit <span class="error"></span>
        </h4>
    </div>
    <div class="modal-body no-padding">

        @using (Html.BeginForm("InfoUnit ", "JabatanBahagianUnit ", FormMethod.Post,new {@class = "smart-form"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            

            <fieldset>
                <section>
                    <div class="row">
                        <label class="label col col-4">Jabatan  </label>
                        <div class="col col-8">
                            <label class="select">
                                <i class="icon-append fa fa-lock"></i>
                                @Html.DropDownListFor(model => model.GE_KOD_JABATAN, null, String.Empty, new { @class = "form-control", disabled = "disabled" })
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Bahagian  </label>
                        <div class="col col-8">
                            <label class="select">
                                <i class="icon-append fa fa-user"></i>
                                @Html.DropDownListFor(model => model.GE_KOD_BAHAGIAN, null, String.Empty, new { @class = "form-control", disabled = "disabled" })
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Kod Unit  </label>
                        <div class="col col-8">
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                @Html.EditorFor(model => model.GE_KOD_UNIT, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Singkatan  </label>
                        <div class="col col-8">
                            <label class="input">
                                <i class="icon-append fa fa-briefcase"></i>
                                @Html.EditorFor(model => model.GE_SINGKATAN, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Unit  </label>
                        <div class="col col-8">
                            <label class="input">
                                <i class="icon-append fa fa-briefcase"></i>
                                @Html.EditorFor(model => model.GE_KETERANGAN, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Alamat  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.GE_ALAMAT1, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.GE_ALAMAT2, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.GE_ALAMAT3, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4"> Bandar </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.GE_BANDAR, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4"> Poskod </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.GE_POSKOD, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4"> Negeri </label>
                        <div class="col col-8">
                            <label class="select">
                                @Html.DropDownListFor(model => model.GE_NEGERI, null, String.Empty, new { @class = "form-control", disabled = "disabled" })
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4"> No Telefon 1 </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.GE_TELPEJABAT1, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4"> No Telefon 2 </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.GE_TELPEJABAT2, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4"> No. Faks 1 </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.GE_FAKS1, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">  No. Faks 2 </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.GE_FAKS2, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4"> Alamat E-mel </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.GE_EMAIL, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">  No. Ketua </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.GE_NO_KETUA, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Status</label>
                        <div class="col col-8">
                            <div class="inline-group">
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.GE_AKTIF_IND, "Y", htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                                    <i></i>Aktif
                                </label>
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.GE_AKTIF_IND, "T", htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                                    <i></i>Tidak Aktif
                                </label>
                            </div>
                        </div>
                    </div>
                </section>
            </fieldset>
            <footer>
               
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Kembali
                </button>
            </footer>
        }

    </div>

</div>
@section pagespecific { 
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Tambah-btn").click(function () {
                debugger
                $('#TambahModal').modal('hide');
            });
        })
    </script> 
}