
@{
    ViewBag.Title = "Borang";
}


@model eSPP.Models.MaklumatKakitanganModels

<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-pencil-square-o"></i>
                Forms
                <span>
                    >
                    Kewangan 8
                </span>
            </h1>
        </div>
    </div>

    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <!-- WIDGET END -->

        </div>

        <!-- end row -->
        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-sm-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                        <h2>Kewangan 8</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="row">

                            <div class="col col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                                <div class="well">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="row">
                                            <div class="col smart-form col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <div class="select">
                                                    <select name="action" id="action" class="form-control">
                                                        <option selected disabled="disabled">Jenis</option>
                                                        <option value="1">No. Pekerja</option>
                                                        <option value="2">Nama Pekerja</option>
                                                       
                                                    </select>
                                                    <i></i>
                                                </div>
                                            </div>
                                            <div class="col smart-form col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="input">
                                                    <input type="text" name="value" id="value" class="form-control" placeholder="Data" />
                                                </div>
                                            </div>
                                            <div class="col col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                <div class="button">
                                                    <button class="btn btn-default btn-primary" type="submit">
                                                        <i class="fa fa-search"></i> Cari
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>

                        <div class="widget-body">

                         
                            <br />

                            <form class="smart-form">
                                <header>
                                    Penyata Perubahan Mengenai Pendapatan Seseorang Pegawai
                                </header>
                                <br />

                                <fieldset>
                                    <div class="row">
                                        
                                            <section class="col col-lg-1 col-md-1 col-sm-12">
                                                <label class="label">
                                                    Jawatan
                                                </label>
                                            </section>
                                            <section class="col col-lg-3 col-md-3 col-sm-12">
                                                <label class="input">

                                                    @Html.EditorFor(model => model.HR_NO_KPBARU, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.HR_NO_KPBARU, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-lg-1 col-md-1 col-sm-12">
                                                <label class="label">
                                                 
                                                </label>
                                            </section>
                                            <section class="col col-lg-3 col-md-3 col-sm-12">
                                                <label class="input">

                                                    @Html.EditorFor(model => model.HR_NO_KPBARU, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.HR_NO_KPBARU, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-lg-1 col-md-1 col-sm-12">
                                                <label class="label">
                                                    Nombor Gaji Berkomputer
                                                </label>
                                            </section>
                                            <section class="col col-lg-3 col-md-3 col-sm-12">
                                                <label class="input">

                                                    @Html.EditorFor(model => model.HR_NO_KPBARU, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.HR_NO_KPBARU, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>


                                   
                                    </fieldset>

                                        <header>
                                            Gaji Bulanan
                                        </header>
                                        <br />
                                        <fieldset>
                                            <div class="row">
                                             
                                                    <section class="col col-lg-1 col-md-1 col-sm-12">
                                                        <label class="label">
                                                            Gaji
                                                        </label>
                                                    </section>
                                                    <section class="col col-lg-3 col-md-3 col-sm-12">
                                                        <label class="input">

                                                            @Html.EditorFor(model => model.HR_NO_KPBARU, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.HR_NO_KPBARU, "", new { @class = "text-danger" })
                                                        </label>
                                                    </section>
                                                    <section class="col col-lg-1 col-md-1 col-sm-12">
                                                        <label class="label">
                                                            Imbuhan Tetap Perumahan
                                                        </label>
                                                    </section>
                                                    <section class="col col-lg-3 col-md-3 col-sm-12">
                                                        <label class="input">

                                                            @Html.EditorFor(model => model.HR_NO_KPBARU, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.HR_NO_KPBARU, "", new { @class = "text-danger" })
                                                        </label>
                                                    </section>
                                                    <section class="col col-lg-1 col-md-1 col-sm-12">
                                                        <label class="label">
                                                            Elaun Khidmat Awam
                                                        </label>
                                                    </section>
                                                    <section class="col col-lg-3 col-md-3 col-sm-12">
                                                        <label class="input">

                                                            @Html.EditorFor(model => model.HR_NO_KPBARU, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.HR_NO_KPBARU, "", new { @class = "text-danger" })
                                                        </label>
                                                    </section>
                                                </div>
                                        </fieldset>
                                    <fieldset>
                                    <div class="row">
                                        <section class="col col-lg-2 col-md-2 col-sm-12">
                                            <label class="label">
                                                Jenis Perubahan
                                            </label>
                                        </section>
                                        <section class="col col-lg-3 col-md-3 col-sm-12">
                                            <label class="input">

                                                @Html.EditorFor(model => model.HR_NO_KPBARU, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.HR_NO_KPBARU, "", new { @class = "text-danger" })
                                            </label>
                                        </section>
                                       </div>
                                        <div class="row">
                                            <section class="col col-lg-2 col-md-2 col-sm-12">
                                                <label class="label">
                                                    Butir-butir Perubahan
                                                </label>
                                            </section>

                                            <section class="col col-lg-4 col-md-4 col-sm-12">
                                                <label class="textarea">
                                                    <textarea rows="3" class="custom-scroll"></textarea>
                                                </label>
                                            </section>
                                            </div>
                                        <div class="row">
                                            <section class="col col-lg-2 col-md-2 col-sm-12">
                                                <label class="label">
                                                    No. Surat Kebenaran
                                                </label>
                                            </section>
                                            <section class="col col-lg-4 col-md-4 col-sm-12">
                                                <label class="input">

                                                    @Html.EditorFor(model => model.HR_NAMA_PEKERJA, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.HR_NAMA_PEKERJA, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-lg-2 col-md-2 col-sm-12">
                                                <label class="label">
                                                     Catatan
                                                </label>
                                            </section>
                                            <section class="col col-lg-4 col-md-4 col-sm-12">
                                                <label class="textarea textarea-resizable">
                                                    <textarea rows="3" class="custom-scroll"></textarea>
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-lg-2 col-md-2 col-sm-12">
                                                <label class="label">
                                                   Tarikh Mula
                                                </label>
                                            </section>
                                            <section class="col col-lg-4 col-md-4 col-sm-12">
                                                <label class="input">

                                                    @Html.EditorFor(model => model.HR_NAMA_PEKERJA, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.HR_NAMA_PEKERJA, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-lg-2 col-md-2 col-sm-12">
                                                <label class="label">
                                                    Tarikh Akhir
                                                </label>
                                            </section>
                                            <section class="col col-lg-4 col-md-4 col-sm-12">
                                                <label class="input">

                                                    @Html.EditorFor(model => model.HR_NAMA_PEKERJA, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.HR_NAMA_PEKERJA, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>

                                    </fieldset>
                              
                                    <div class="">
                                        <table id="datatable_tabletools" class="table table-striped table-bordered table-hover" width="100%">
                                            <thead>
                                                <tr>
                                                    <th data-hide="phone">Butir Perubahan</th>
                                                    <th data-class="expand">Catatan</th>
                                                    <th>Tarikh Mula</th>
                                                    <th data-hide="phone">Tarikh Akhir</th>
                                                    <th data-hide="phone,tablet">No.Surat Kebenaran</th>
                                                   

                                                </tr>
                                            </thead>
                                            <tbody>
                                               
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                      
                                                    </tr>
                                              
                                                
                                            </tbody>
                                        </table>
                                    </div>
                            </form>
                        </div>
                    </div>
                    </div>
            </article>
            
        </div>
    </section>
</div>