
@model eSPP.Models.HR_PENSYARAH

<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-pencil-square-o"></i>
                Forms
                <span>
                    >
                    Peribadi Pensyarah
                </span>
            </h1>
        </div>
    </div>

    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <!-- WIDGET END -->

        </div>

        <!-- end row -->
        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-sm-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                        <h2> Peribadi Pensyarah</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="padding-10">
                            @using (Html.BeginForm("PeribadiPensyarah", "MaklumatPeribadiPensyarah", FormMethod.Post, new { id = "order-form", enctype = "multipart/form-data" }))
                            {
                                    <fieldset class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                        <div class="row smart-form">

                                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="row">
                                                    <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">ID. Pensyarah</label>
                                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                            <label class="input">
                                                                <i class="icon-append fa fa-list-alt"></i>
                                                                @Html.EditorFor(model => model.HR_NO_PENSYARAH, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                            </label>
                                                        </div>
                                                    </section>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Kategori Pensyarah</label>
                                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                            <div class="inline-group">
                                                                <label class="radio">
                                                                    @Html.RadioButtonFor(model => model.HR_KUMPULAN_PENSYARAH.HR_JENIS_IND, "D", htmlAttributes: new { @class = "form-control" })
                                                                    <i></i>Pensyarah Dalam
                                                                </label>
                                                                <label class="radio">
                                                                    @Html.RadioButtonFor(model => model.HR_KUMPULAN_PENSYARAH.HR_JENIS_IND, "L", htmlAttributes: new { @class = "form-control" })
                                                                    <i></i>Pensyarah Luar
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">No.Pekerja</label>
                                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                            <label class="input">
                                                                <i class="icon-append fa fa-list-alt"></i>
                                                                @Html.EditorFor(model => model.HR_NO_PEKERJA, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                            </label>
                                                        </div>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Nama Pensyarah</label>
                                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                            <label class="input">
                                                                <i class="icon-append fa fa-list-alt"></i>
                                                                @Html.EditorFor(model => model.HR_NAMA_PENSYARAH, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                            </label>
                                                        </div>
                                                    </section>

                                                    <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Jenis Pensyarah</label>
                                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                            <label class="select">
                                                                @Html.DropDownListFor(model => model.HR_KOD_KUMPULAN, null, String.Empty, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                                                                <i></i>
                                                            </label>
                                                        </div>
                                                    </section>
                                                </div>

                                                <div class="row">
                                                    <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">No.KP Baru</label>
                                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                            <label class="input">

                                                                @Html.EditorFor(model => model.HR_NO_KPBARU, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                            </label>
                                                        </div>

                                                    </section>

                                                    <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">No.KP Lama</label>
                                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                            <label class="input">

                                                                @Html.EditorFor(model => model.HR_NO_KPLAMA, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                            </label>
                                                        </div>

                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">No.Telefon Pejabat</label>
                                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                            <label class="input">

                                                                @Html.EditorFor(model => model.HR_NO_TELPEJABAT, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                                                            </label>
                                                        </div>

                                                    </section>

                                                    <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">No.Telefon Bimbit</label>
                                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                            <label class="input">

                                                                @Html.EditorFor(model => model.HR_NO_TELBIMBIT, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                            </label>
                                                        </div>

                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">No. Fax</label>
                                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                            <label class="input">

                                                                @Html.EditorFor(model => model.HR_NO_FAKS, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                            </label>
                                                        </div>

                                                    </section>

                                                    <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Jawatan</label>
                                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                            <label class="input">

                                                                @Html.EditorFor(model => model.HR_JAWATAN, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                                                            </label>
                                                        </div>

                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Gred/Kelulusan</label>
                                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                            <label class="input">

                                                                @Html.EditorFor(model => model.HR_GRED_KELULUSAN, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                                                            </label>
                                                        </div>

                                                    </section>

                                                    <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Gaji Pokok Sebulan RM</label>
                                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                            <label class="input">

                                                                @Html.EditorFor(model => model.HR_GAJI_POKOK, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                                                            </label>
                                                        </div>

                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <br />
                                    <fieldset class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <legend>
                                            Alamat
                                        </legend>
                                        <div class="row">

                                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="row smart-form">
                                                    <section class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Tetap</label>
                                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                            <label class="input">
                                                                @Html.EditorFor(model => model.HR_TALAMAT1, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                            </label>
                                                        </div>

                                                    </section>

                                                </div>
                                                <div class="row smart-form">
                                                    <section class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12"></label>
                                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                            <label class="input">
                                                                @Html.EditorFor(model => model.HR_TALAMAT2, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                            </label>
                                                        </div>
                                                    </section>
                                                </div>
                                                <div class="row smart-form">
                                                    <section class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12"></label>
                                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                            <label class="input">
                                                                @Html.EditorFor(model => model.HR_TALAMAT3, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                            </label>
                                                        </div>

                                                    </section>
                                                </div>

                                                <div class="row smart-form">
                                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="row">
                                                            <section class="col col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                                                <label class="label col-lg-7 col-md-7 col-sm-12 col-xs-12">Poskod</label>
                                                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                                                    <label class="input">
                                                                        <i class="icon-append fa fa-question-circle"></i>
                                                                        @Html.EditorFor(model => model.HR_TPOSKOD, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", maxlength = 5 } })
                                                                        <b class="tooltip tooltip-top-right">
                                                                            <i class="fa fa-warning txt-color-teal"></i>
                                                                            Sila isi hanya nombor sahaja
                                                                        </b>
                                                                    </label>
                                                                </div>

                                                            </section>

                                                            <section class="col col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                                <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Bandar</label>
                                                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                                    <label class="input">
                                                                        @Html.EditorFor(model => model.HR_TBANDAR, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                                    </label>
                                                                </div>

                                                            </section>
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="row smart-form">
                                                    <section class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Negeri</label>
                                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                            <label class="select">
                                                                @Html.DropDownListFor(model => model.HR_TNEGERI, new SelectList(ViewBag.Negeri, "Value", "Text"), String.Empty, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                                                                <i></i>
                                                            </label>
                                                        </div>

                                                    </section>
                                                </div>
                                            </div>
                                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="row smart-form">
                                                    <section class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Surat - Menyurat</label>
                                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                            <label class="input">
                                                                @Html.EditorFor(model => model.HR_SALAMAT1, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                            </label>
                                                        </div>

                                                    </section>

                                                </div>
                                                <div class="row smart-form">
                                                    <section class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12"></label>
                                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                            <label class="input">
                                                                @Html.EditorFor(model => model.HR_SALAMAT2, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                            </label>
                                                        </div>

                                                    </section>


                                                </div>

                                                <div class="row smart-form">
                                                    <section class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12"></label>
                                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                            <label class="input">
                                                                @Html.EditorFor(model => model.HR_SALAMAT3, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                            </label>
                                                        </div>

                                                    </section>
                                                </div>

                                                <div class="row smart-form">
                                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="row">
                                                            <section class="col col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                                                <label class="label col-lg-7 col-md-7 col-sm-12 col-xs-12">Poskod</label>
                                                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                                                    <label class="input">
                                                                        <i class="icon-append fa fa-question-circle"></i>
                                                                        @Html.EditorFor(model => model.HR_SPOSKOD, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                                        <b class="tooltip tooltip-top-right">
                                                                            <i class="fa fa-warning txt-color-teal"></i>
                                                                            Sila isikan nombor sahaja
                                                                        </b>
                                                                    </label>
                                                                </div>

                                                            </section>

                                                            <section class="col col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                                <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Bandar</label>
                                                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                                    <label class="input">
                                                                        @Html.EditorFor(model => model.HR_SBANDAR, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                                    </label>
                                                                </div>

                                                            </section>
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="row smart-form">
                                                    <section class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Negeri</label>
                                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                                                            <label class="select">
                                                                @Html.DropDownListFor(model => model.HR_SNEGERI, new SelectList(ViewBag.Negeri, "Value", "Text"), String.Empty, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                                                                <i></i>
                                                            </label>
                                                        </div>

                                                    </section>
                                                </div>

                                                <div class="row">
                                                    <section class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Negeri</label>
                                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                            <button type="button" id="btn-paste" name="btn-paste" class="btn btn-default" disabled="disabled">
                                                                <i class="fa fa-paste"> Ambil Data Dari Alamat Tetap</i>
                                                            </button>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>

                                        </div>
                                        <br />
                                        <br />
                                        <footer>
                                            <div class="well text-right">
                                                <button type="submit" name="sub" id="btn-sub-padam" class="btn btn-danger hide" value="padam" disabled="disabled">
                                                    <i class="fa fa-trash-o"> Padam</i>
                                                </button>
                                                <button type="submit" name="sub" id="btn-sub-tambah" class="btn btn-primary" value="tambah" disabled="disabled">
                                                    <i class="fa fa-send-o"> Hantar</i>
                                                </button>
                                            </div>
                                        </footer>
                                        <br />
                                        <br />
                                    </fieldset>

                                }
                            </div>
                            
                        </div>
                            
                        </div>

                   </div> 

            </article>

        </div>
    </section>
</div>
@section pagespecific {
    <script type="text/javascript">
        $(document).ready(function () {

            var $orderForm = $("#order-form").validate({
                // Rules for form validation
                rules: {
                   
                    HR_NAMA_PENSYARAH: {
                        required: true
                    }

                },

                // Messages for form validation
                messages: {
                    
                   
                    HR_NAMA_PENSYARAH: {
                        required: 'Nama Pensyarah diperlukan',

                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });



            if ('@ViewBag.Msg' != "") {
                if('@ViewBag.Msg' == "Data Berjaya Di Padam")
                {
                    $("#HR_NO_PEKERJA").val("");
                }
                alert('@ViewBag.Msg');
            }

            if ('@ViewBag.HR_MESEJ' == "Y") {
                $("#btn-sub-tambah").html('<i class="fa fa-edit"> Kemaskini</i>');
                $("#btn-sub-padam").removeClass('hide');
            }
            else {
                $("#btn-sub-tambah").html('<i class="fa fa-send-o"> Hantar</i>');
                $("#btn-sub-padam").addClass('hide');
            }


            if ('@Model.HR_KUMPULAN_PENSYARAH.HR_JENIS_IND' != null) {
                $("#HR_NO_PENSYARAH").val('@Model.HR_NO_PENSYARAH');

                $("#btn-sub-tambah").removeAttr("disabled");
                $("#btn-sub-padam").removeAttr("disabled");
                $("#HR_KOD_KUMPULAN").removeAttr("disabled");
                if ('@Model.HR_KUMPULAN_PENSYARAH.HR_JENIS_IND' == "D") {
                    $("#HR_NO_PEKERJA").removeAttr("disabled");
                    $("input").not("#HR_NO_PENSYARAH, #HR_KUMPULAN_PENSYARAH_HR_JENIS_IND, #HR_NO_PEKERJA").attr("disabled", "disabled");
                    $("#btn-paste").attr("disabled", "disabled");
                    $("#HR_TNEGERI").attr("disabled", "disabled");
                    $("#HR_SNEGERI").attr("disabled", "disabled");
                }
                else {
                    $("#HR_NO_PEKERJA").attr("disabled", "disabled");
                    $("input").not("#HR_NO_PENSYARAH, #HR_NO_PEKERJA").removeAttr("disabled");
                    $("#btn-paste").removeAttr("disabled");
                    $("#HR_TNEGERI").removeAttr("disabled");
                    $("#HR_SNEGERI").removeAttr("disabled");
                }
                $("#HR_KOD_KUMPULAN").html("<option></option>")
                $.ajax({
                    url: "../MaklumatPeribadiPensyarah/JenisPensyarah",
                    type: "GET",
                    data: { "HR_JENIS_IND": '@Model.HR_KUMPULAN_PENSYARAH.HR_JENIS_IND' },
                    dataType: "Json",
                    success: function (data) {
                        $.each(data, function (i, v) {
                            $("#HR_KOD_KUMPULAN").append($("<option></option>").val(v.HR_KOD_KUMPULAN).html(v.HR_PENERANGAN))
                            $("#HR_KOD_KUMPULAN").val('@Model.HR_KOD_KUMPULAN');
                        })
                    }
                })
            }

            $("input[name='HR_KUMPULAN_PENSYARAH.HR_JENIS_IND']").on("click", function () {
                $("input").not("input[name='HR_KUMPULAN_PENSYARAH.HR_JENIS_IND']").val("");
                $("select").val("");
                $("#btn-sub-tambah").removeAttr("disabled");
                $("#btn-sub-padam").removeAttr("disabled");
                $("#HR_KOD_KUMPULAN").removeAttr("disabled");
                if ($(this).val() == "D") {
                    $("#HR_NO_PEKERJA").removeAttr("disabled");
                    $("input").not("#HR_NO_PENSYARAH, #HR_KUMPULAN_PENSYARAH_HR_JENIS_IND, #HR_NO_PEKERJA").attr("disabled", "disabled");
                    $("#btn-paste").attr("disabled", "disabled");
                    $("#HR_TNEGERI").attr("disabled", "disabled");
                    $("#HR_SNEGERI").attr("disabled", "disabled");
                }
                else {
                    $("#HR_NO_PEKERJA").attr("disabled", "disabled");
                    $("input").not("#HR_NO_PENSYARAH, #HR_NO_PEKERJA").removeAttr("disabled");
                    $("#btn-paste").removeAttr("disabled");
                    $("#HR_TNEGERI").removeAttr("disabled");
                    $("#HR_SNEGERI").removeAttr("disabled");
                }
                $("#HR_KOD_KUMPULAN").html("<option></option>")
                $.ajax({
                    url: "../MaklumatPeribadiPensyarah/JenisPensyarah",
                    type: "GET",
                    data: { "HR_JENIS_IND": $(this).val() },
                    dataType: "Json",
                    success: function (data) {
                        $.each(data, function (i, v) {
                            $("#HR_KOD_KUMPULAN").append($("<option></option>").val(v.HR_KOD_KUMPULAN).html(v.HR_PENERANGAN))
                        })
                    }
                })

            });
            $("#HR_NO_PEKERJA, #HR_NAMA_PENSYARAH").on("input", function () {
                debugger
                $("input").not("#" + $(this).attr('id') + ",input[name='HR_KUMPULAN_PENSYARAH.HR_JENIS_IND']").val("");
                $("select").val("");
                var $this = $(this);
                $.ajax({
                    url: "../MaklumatPeribadiPensyarah/CariPensyarah",
                    type: "GET",
                    data: { "DATA": $(this).val(), "KATEGORI": $("input[name='HR_KUMPULAN_PENSYARAH.HR_JENIS_IND']:checked").val() },
                    dataType: "Json",
                    success: function (data) {
                        $("#HR_NO_PENSYARAH").val(data.HR_PENSYARAH.HR_NO_PENSYARAH);
                        //$("#HR_KUMPULAN_PENSYARAH_HR_JENIS_IND").val(data.HR_PENSYARAH.HR_KUMPULAN_PENSYARAH.HR_JENIS_IND);

                        //$("#HR_NO_PEKERJA").val(data.HR_NO_PEKERJA);
                        if ($this.attr("id") == "HR_NO_PEKERJA") {
                            $("#HR_NAMA_PENSYARAH").val(data.HR_PENSYARAH.HR_NAMA_PENSYARAH);
                        }

                        $("#HR_KOD_KUMPULAN").val(data.HR_PENSYARAH.HR_KOD_KUMPULAN);
                        $("#HR_NO_KPBARU").val(data.HR_PENSYARAH.HR_NO_KPBARU);
                        $("#HR_NO_KPLAMA").val(data.HR_PENSYARAH.HR_NO_KPLAMA);
                        $("#HR_NO_TELPEJABAT").val(data.HR_PENSYARAH.HR_NO_TELPEJABAT);

                        $("#HR_NO_TELBIMBIT").val(data.HR_PENSYARAH.HR_NO_TELBIMBIT);
                        $("#HR_NO_FAKS").val(data.HR_PENSYARAH.HR_NO_FAKS);
                        $("#HR_JAWATAN").val(data.HR_PENSYARAH.HR_JAWATAN);
                        $("#HR_GRED_KELULUSAN").val(data.HR_PENSYARAH.HR_GRED_KELULUSAN);
                        $("#HR_GAJI_POKOK").val(data.HR_PENSYARAH.HR_GAJI_POKOK);
                        $("#HR_TALAMAT1").val(data.HR_PENSYARAH.HR_TALAMAT1);
                        $("#HR_TALAMAT2").val(data.HR_PENSYARAH.HR_TALAMAT2);
                        $("#HR_TALAMAT3").val(data.HR_PENSYARAH.HR_TALAMAT3);

                        $("#HR_TPOSKOD").val(data.HR_PENSYARAH.HR_TPOSKOD);
                        $("#HR_TBANDAR").val(data.HR_PENSYARAH.HR_TBANDAR);
                        $("#HR_TNEGERI").val(data.HR_PENSYARAH.HR_TNEGERI);
                        $("#HR_SALAMAT1").val(data.HR_PENSYARAH.HR_SALAMAT1);
                        $("#HR_SALAMAT2").val(data.HR_PENSYARAH.HR_SALAMAT2);
                        $("#HR_SALAMAT3").val(data.HR_PENSYARAH.HR_SALAMAT3);
                        $("#HR_SPOSKOD").val(data.HR_PENSYARAH.HR_SPOSKOD);
                        $("#HR_SBANDAR").val(data.HR_PENSYARAH.HR_SBANDAR);
                        $("#HR_SNEGERI").val(data.HR_PENSYARAH.HR_SNEGERI);

                        if (data.HR_MESEJ == "Y") {
                            $("#btn-sub-tambah").html('<i class="fa fa-edit"> Kemaskini</i>');
                            $("#btn-sub-padam").removeClass('hide');
                        }
                        else {
                            $("#btn-sub-tambah").html('<i class="fa fa-send-o"> Hantar</i>');
                            $("#btn-sub-padam").addClass('hide');
                        }
                    }
                })
            });
            $("#btn-paste").on("click", function () {
                $("input[name='HR_SALAMAT1']").val($("input[name='HR_TALAMAT1']").val());
                $("input[name='HR_SALAMAT2']").val($("input[name='HR_TALAMAT2']").val());
                $("input[name='HR_SALAMAT3']").val($("input[name='HR_TALAMAT3']").val());
                $("input[name='HR_SPOSKOD']").val($("input[name='HR_TPOSKOD']").val());
                $("input[name='HR_SBANDAR']").val($("input[name='HR_TBANDAR']").val());
                $("select[name='HR_SNEGERI']").val($("select[name='HR_TNEGERI']").val());
            });


           

        })
    </script>
}