

@model eSPP.Models.HR_KUARTERS

<div>
    <div class="modal-header">
        <button type="button" class="close" id="Tambah-btn" data-dismiss="modal" aria-hidden="true">
            &times;
        </button>
        <h4 class="modal-title">
            Tambah Kuarters <span class="error"></span>
        </h4>
    </div>
    <div class="modal-body no-padding">

        @using (Html.BeginForm("TambahKuarters", "Kuarters", FormMethod.Post, new { id = "order-form", @class = "smart-form", novalidate = "novalidate" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.HR_KOD_KUARTERS);
           

            <fieldset>
                <section>
                    <div class="row">
                        <label class="label col col-4">Kuarters  </label>
                        <div class="col col-8">
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                @Html.EditorFor(model => model.HR_BLOK_KUARTERS, new { htmlAttributes = new { @class = "form-control" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Alamat  </label>
                        <div class="col col-8">
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                @Html.EditorFor(model => model.HR_ALAMAT1, new { htmlAttributes = new { @class = "form-control"} })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_ALAMAT2, new { htmlAttributes = new { @class = "form-control"} })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_ALAMAT3, new { htmlAttributes = new { @class = "form-control" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Bandar  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_BANDAR, new { htmlAttributes = new { @class = "form-control"} })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Poskod  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_POSKOD, new { htmlAttributes = new { @class = "form-control" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Negeri  </label>
                        <div class="col col-8">
                            <label class="select">
                                @Html.DropDownListFor(model => model.HR_NEGERI, null, String.Empty, new { @class = "form-control" })
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Status</label>
                        <div class="col col-8">
                            <div class="inline-group">
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.HR_AKTIF_IND, "Y", htmlAttributes: new { @checked = "checked" })
                                    <i></i>Aktif
                                </label>
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.HR_AKTIF_IND, "T", htmlAttributes: new { @class = "form-control" })
                                    <i></i>Tidak Aktif
                                </label>
                            </div>
                        </div>
                    </div>
                </section>

            </fieldset>
            <footer>
                <button type="submit" id="btn" class="btn btn-primary">
                    <span class="fa fa-send-o"></span> Hantar
                </button>
                <a type="button" class="btn btn-default" href="kuarters">
                    Kembali
                </a>
            </footer>
        }

    </div>

</div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Tambah-btn").click(function () {
                debugger
                $('#TambahModal').modal('hide');
            });

            var $orderForm = $("#order-form").validate({
                // Rules for form validation
                rules: {
                    HR_BLOK_KUARTERS: {
                        required: true,
                        remote: {
                            url: "Kuarters/CariKuarters",
                            type: "get",
                            data: {
                                blok: function () {
                                    return $("#HR_BLOK_KUARTERS").val();
                                },
                                kod: function () {
                                    return $("#HR_KOD_KUARTERS").val();
                                }
                            }
                        }
                    },
                    HR_ALAMAT1: {
                        required: true
                       
                    },
                    HR_ALAMAT2: {
                        required: true
                        
                    },
                    HR_ALAMAT3: {
                        required: true
                        
                    },
                    HR_BANDAR: {
                        required: true
                        
                    },
                    HR_POSKOD: {
                        required: true
                        
                    },
                    HR_NEGERI: {
                        required: true
                       
                    },

                },

                // Messages for form validation
                messages: {
                    HR_BLOK_KUARTERS: {
                        required: 'Blok Kuarters diperlukan'
                    },
                    HR_ALAMAT1: {
                        required: 'Alamat diperlukan',

                    },
                    HR_ALAMAT2: {
                        required: 'Alamat diperlukan'
                    },
                    HR_ALAMAT3: {
                        required: 'Alamat diperlukan',

                    },
                    HR_BANDAR: {
                        required: 'Bandar diperlukan'
                    },
                    HR_POSKOD: {
                        required: 'Poskod diperlukan',

                    },
                    HR_NEGERI: {
                        required: 'Negeri diperlukan',

                    },

                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        })
    </script> 
