



@model eSPP.Models.HR_PENSYARAH


<div>
    <div class="modal-header">
        <button type="button" class="close" id="Tambah-btn" data-dismiss="modal" aria-hidden="true">
            &times;
        </button>
        <h4 class="modal-title">
            Info  Peribadi Pensyarah Dalam<span class="error"></span>
        </h4>
    </div>
    <div class="modal-body no-padding">

        @using (Html.BeginForm("InfoDalam", "PeribadiKumpulanPensyarah", FormMethod.Post, new { @class = "smart-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.HR_NO_PENSYARAH);


            <fieldset>
                <section>
                    <div class="row">
                        <label class="label col col-4"></label>
                        <div class="col col-8">
                            <div class="inline-group">
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.HR_KUMPULAN_PENSYARAH.HR_JENIS_IND, "D", htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                                    <i></i>Pensyarah Dalam
                                </label>
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.HR_KUMPULAN_PENSYARAH.HR_JENIS_IND, "L", htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                                    <i></i>Pensyarah Luar
                                </label>
                            </div>
                        </div>
                    </div>
                </section>
                <br />
                <section>
                    <div class="row">
                        <label class="label col col-4"> No. Pekerja  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_NO_PENSYARAH, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4"> Jenis Pensyarah  </label>
                        <div class="col col-8">
                            <label class="select">
                                @Html.DropDownListFor(model => model.HR_KOD_KUMPULAN, null, String.Empty, new { @class = "form-control" , disabled ="disabled"})
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">   No. KP Baru </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_NO_KPBARU, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">   No. KP Lama </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_NO_KPLAMA, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">    No. Telefon Pejabat  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_NO_TELPEJABAT, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">  No. Telefon Bimbit  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_NO_TELBIMBIT, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4"> No. Fax  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_NO_FAKS, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4"> Jawatan  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_JAWATAN, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4"> Gred.Kelulusan  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_GRED_KELULUSAN, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4"> Gaji Pokok Sebulan RM  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_GAJI_POKOK, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">   Alamat Surat- Menyurat  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_SALAMAT1, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">      </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_SALAMAT2, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">      </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_SALAMAT3, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">   Bandar  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_SBANDAR, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">     Negeri </label>
                        <div class="col col-8">
                            <label class="select">
                                @Html.DropDownListFor(model => model.HR_SNEGERI, null, String.Empty, new { @class = "form-control", disabled = "disabled" })
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">  Poskod    </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_SPOSKOD, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">    Alamat Tetap  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_TALAMAT1, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">      </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_TALAMAT2, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">      </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_TALAMAT3, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">   Bandar  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_TBANDAR, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">     Negeri </label>
                        <div class="col col-8">
                            <label class="select">
                                @Html.DropDownListFor(model => model.HR_TNEGERI, null, String.Empty, new { @class = "form-control", disabled = "disabled" })
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">  Poskod    </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_TPOSKOD, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
               
            </fieldset>
            <footer>

                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Kembali
                </button>
            </footer>
        }

    </div>

</div>
@section pagespecific {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Tambah-btn").click(function () {
                debugger
                $('#TambahModal').modal('hide');
            });
        })
    </script>
}